# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_test1_LEFT

config ZMK_KEYBOARD_NAME
    default "ken_kb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_test1_LEFT || SHIELD_test1_RIGHT

config ZMK_SPLIT
    default y


endif
